.mainContainer{
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
    height: 110vh;
    margin-top: 10px;

    .title{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 25px;
        margin-bottom: 50px;
        .offre{
            padding: 10px 40px;
            border-radius: 500px;
            border: 0.92px solid rgba(151, 186, 255, 0.4);
            background: radial-gradient(63.68% 148.21% at 48.57% -48.21%, rgba(7, 56, 185, 0.4) 0%, rgba(3, 25, 83, 0.4) 100%);

            p{
                background: linear-gradient(275.29deg, #88B3FD 36.84%, #5280D1 62.25%, #7CACFF 93.72%);

                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        h1{
            width: 40%;
            text-align: center;
            span{
                background: -webkit-linear-gradient(95deg, #043bcb, #043bcb, #88b3fd);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
        .buttons{
            display: flex;
            gap: 19px;
            cursor: pointer;
            .firstButton{
                background: radial-gradient(51.41% 105.14% at 50.04% 105.14%, #0A308B 0%, #1E6EFB 100%);

                padding: 10px 30px;
                border-radius: 10px;
                display: flex;
                align-items: center;
                transition: .3s ease;
                &:hover{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    scale: 1.05;
                }

            }
            .secondButton{
                display: flex;
                border: 2px solid rgb(255, 255, 255, 0.4);
                padding: 10px 30px;
                border-radius: 10px;
                transition: .3s ease;
                &:hover{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    scale: 1.05;
                }
            }
        }
    }
    .cardsContainer{
        display: flex; 
        justify-content: center;
        .cards{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 25px;
        
           
            
            .firstCard{
                border: 0.77px solid rgba(231, 235, 255, 1);
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px;
                width: 286px;
                height: 450px;
                background: radial-gradient(103.02% 79.39% at 50.04% 100%, rgba(3, 25, 83, 0.7) 0%, rgba(23, 112, 247, 0.7) 100%);
                border-radius: 25px;
                p{
                    font-weight: bold;
                    font-size: 30px;
                    span{
                        font-weight: 100;

                        font-size: 13px;
                    }
                    transition: .3s ease;
                    &:hover{
                        cursor: pointer;
                        scale: 1.05;
                    }
                }
                .sep{
                    height: 5px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
                    border-radius: 100%;
                }
                .infos{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .text{
                        display: flex;
                        
                        gap: 20px;
                        p{
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                    .buy{
                        button{
                            border: none;
                            background-color: transparent;
                            width: 100%;
                            height: 35px;
                            border: 1px solid white;
                            border-radius: 7px;
                            transition: .3s ease;
                            cursor: pointer;
                            &:hover{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                scale: 1.05;
                            }
                        }
                    }
                }
            }
            .secondCard {
                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px;
                width: 337px;
                height: 579px;
                background: 
                    url("../../img/Patterns/FirstEclipse.svg") no-repeat center center,
                    url("../../img/Patterns/SecondEclipse.svg") no-repeat calc(100% - 25px) center,
                    linear-gradient(-225deg, rgb(62, 132, 253), rgb(188, 202, 255));
                border-radius: 25px;
                border: 0.83px solid rgba(231, 235, 255, 1);                
                box-shadow: 0px 0px 45.83px 4.58px rgba(188, 202, 255, 0.2);
                border-image-source: radial-gradient(103.58% 103.58% at 50% 50%, rgba(9, 89, 229, 0) 4.69%, #0959E5 100%);


              
                .subtitle {
                  display: flex;
                  align-items: center;
                  gap: 10px;
                  h3 {
                    margin: 0;
                  }
                  .best {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 3px;
                    border: 1px solid white;
                    width: 90px;
                    height: 25px;
                    background-color: rgba(255, 255, 255, 0.08);
                    p {
                      font-size: 13px;
                      margin: 0;
                    }
                  }
                }
              
                p {
                  font-weight: bold;
                  font-size: 30px;
                  margin: 0;
                  span {
                    font-weight: 100;
                    font-size: 13px;
                  }
                  transition: 0.3s ease;
                  &:hover {
                    cursor: pointer;
                    scale: 1.05;
                  }
                }
              
                .sep {
                  height: 5px;
                  margin-top: 5px;
                  margin-bottom: 5px;
                  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
                  border-radius: 100%;
                }
              
                .infos {
                  display: flex;
                  flex-direction: column;
                  gap: 15px;
                  .text {
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    p {
                      font-weight: 500;
                      font-size: 15px;
                      margin: 0;
                    }
                  }
                  .buy {
                    button {
                      margin-top: 50px;
                      border: none;
                      background: radial-gradient(51.41% 105.14% at 50.04% 105.14%, #0A308B 0%, #1E6EFB 100%);
                      width: 100%;
                      height: 35px;
                      border: 1px solid white;
                      border-radius: 7px;
                      color: white;
                      transition: 0.3s ease;
                      cursor: pointer;
                      &:hover {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        scale: 1.05;
                      }
                    }
                  }
                }
            }  
            .thirdCard{
                border: 0.77px solid rgba(231, 235, 255, 1);

                display: flex;
                flex-direction: column;
                gap: 10px;
                padding: 15px;
                width: 286px;
                height: 500px;
                background: radial-gradient(129.76% 100% at 50.04% 100%, rgba(3, 25, 83, 0.7) 0%, rgba(24, 116, 255, 0.7) 100%);
                border-radius: 25px;
                p{
                    font-weight: bold;
                    font-size: 30px;
                    span{
                        font-weight: 100;
                        font-size: 13px;
                    }
                    transition: .3s ease;
                    &:hover{
                        cursor: pointer;
                        scale: 1.05;
                    }
                }
                .sep{
                    height: 5px;
                    margin-top: 5px;
                    margin-bottom: 5px;
                    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0));
                    border-radius: 100%;
                }
                .infos{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    .text{
                        display: flex;
                        
                        gap: 20px;
                        p{
                            font-weight: 500;
                            font-size: 15px;
                        }
                    }
                    .buy{
                        button{
                            border: none;
                            background-color: transparent;
                            width: 100%;
                            height: 35px;
                            border: 1px solid white;
                            border-radius: 7px;
                            transition: .3s ease;
                            cursor: pointer;
                            &:hover{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                scale: 1.05;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .mainContainer{
        .title{
            h1{
                width: 100%;
            }
        }
        .cardsContainer{
            .cards {
                display: grid;
        
                grid-template-columns: repeat(2, 1fr);
                gap: 25px;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .mainContainer{
        .title{
            h1{
                width: 100%;
            }
            .buttons{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .firstButton{
                    width: 100%;
                }
            }
        }
        .cardsContainer{
            .cards {
                display: grid;
        
                grid-template-columns: repeat(1, 1fr);
                gap: 25px;
            }
        }
    }
}






